{% extends "::base.html.twig" %}

{% block title %}Registration{% endblock %}

{% block body %}
<h1>Registration:I want Registration</h1>

<!-- Blog Entries Column -->
<div class="col-md-8">

    {{ form(form) }}

</div>
    <!-- /.row -->
{% endblock %}