{% extends '::base.html.twig' %}

{% block content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <li>
        <a href="{{ path('user_update_profile') }}">Change User profile</a>
    </li>

    </ul>


</div>
{% endblock %}
