/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/composer.phar
/vendor/
/web/bundles/
*~
.idea
/bin/*
!/bin/my_check.php
!/bin/cache
!/bin/reload
!/bin/clean.php
!/bin/base_script.php
!/bin/chmod