<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; 2015 - 2016  <a href="https://ua.linkedin.com/pub/ivan-shuba/b8/945/82">Shuba</a></p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</footer>


<!-- jQuery -->
<script src="{{ asset ('bundles/pills/js/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset ('bundles/pills/js/bootstrap.min.js') }}"></script>